<div class="help-section">
    <h2>Resource</h2>
<div class="row">
    <h3>Merchant Account Pricing Tiers</h3>
    <p class="m-3">For Interchange <span class="text-bold">+ 0.35%</span></p>
</div>
<div class="row">
    <table class="table-data">
        <tr>
            <th width="50%">Card Type</th>
            <th width="25%">Label 1</th>
            <th width="25%">Label 2</th>
        </tr>
        <tr>
            <td>Visa regional Debit</td>
            <td class="text-align-right">$0.00</td>
            <td class="text-align-right">$0.00</td>
        </tr>
        <tr>
            <td>Visa Corp. Card</td>
            <td class="text-align-right">$0.00</td>
            <td class="text-align-right">$0.00</td>
        </tr>
        <tr>
            <td>Mastercard Reg. Debit</td>
            <td class="text-align-right">$0.00</td>
            <td class="text-align-right">$0.00</td>
        </tr>
        <tr>
            <td>Mastercard Elite</td>
            <td class="text-align-right">$0.00</td>
            <td class="text-align-right">$0.00</td>
        </tr>
        <tr>
            <td>Mastercard Wow</td>
            <td class="text-align-right">$0.00</td>
            <td class="text-align-right">$0.00</td>
        </tr>
    </table>
</div>
<div class="row mt-10">
    <h3>Merchant Like You</h3>
       <p class="m-3"> Based on MCC ID Category Airlines</p>
</div>
<div class="row mt-10">
    <table class="table-data-2">
        <tr>
            <td width="60%">Equipment</td>
            <td class="text-align-right" width="40%">$XXX.XX</td>
        </tr>
        <tr>
            <td>Installation Fee</td>
            <td class="text-align-right">$XXX.XX</td>
        </tr>
        <tr>
            <td>Authorization Fee</td>
            <td class="text-align-right">$XXX.XX</td>
        </tr>
        <tr>
            <td class="border-bottom-dash">Set-Up Fee</td>
            <td class="text-align-right border-bottom-dash">$XXX.XX</td>
        </tr>
        <tr>
            <td>Monthly Fee *</td>
            <td class="text-align-right">$XXX.XX</td>
        </tr>
        <tr>
            <td class="border-bottom-1">Annual Fee *</td>
            <td class="text-align-right border-bottom-1">$XXX.XX</td>
        </tr>
        <tr>
            <td class="text-bold border-bottom-1">Total Amount</td>
            <td class="text-align-right text-bold border-bottom-1">$X,XXX.XX<br>
                per month
            </td>
        </tr>
    </table>

</div>
</div>