<div class="row">
  <div class="col-10 no-pad">
    <ng-container *ngIf="steps">
      <div class="row step-row"
        [ngClass]="row.activateStep && row.formValid && row.completedForm ? 'completed-step' : (row.formValid && row.completedForm ? 'prev-step' : (row.activateStep ? 'current-step' : (row.initiated ? 'initiated-step' : '') ))"
        *ngFor="let row of steps; let i = index;">
        <div class="step-btn step-btn-{{i}}" [class.last-step-row]="i === steps.length - 1" (click)="stepClick(row, currentStep)">
          <span>{{row.name}}</span>
        </div>
        <div class="step-desc step-desc-{{i}}">{{row.head}}
          <span *ngIf="row.activateStep">{{row.desc}}</span>
        </div>
      </div>
      <div class="row portrait-row" *ngIf="horizontalProgress">
        <div class="portrait-border portrait-border-{{i}}" [ngClass]="row.activateStep && row.formValid && row.completedForm ? 'completed-step' : (row.formValid && row.completedForm ? 'prev-step' : (row.activateStep ? 'current-step' : (row.initiated ? 'initiated-step' : '') ))"
      *ngFor="let row of steps; let i = index;"></div>
      </div>
    </ng-container>
  </div>
</div>