<form [formGroup]="merchantProcessingForm" autocomplete="off">
  <div id="aria-group-legend" class="mainlable">Is this a current Wells Fargo Customer?</div>
  <div class="row form-row">
    <div role="group" aria-labelledby="aria-group-legend">
      <label for="yes_select" class="row-20"><input type="radio" name="wellsCustomer" [value]="isWFcustomer"
          formControlName="wellsCustomer" (change)="isWFcustomerFunc(true)" id="yes_select" tabindex="0"
          kendoRadioButton />
        YES</label>
      <label for="no_select" class="row-20"><input type="radio" name="wellsCustomer" [value]="!isWFcustomer"
          formControlName="wellsCustomer" (change)="isWFcustomerFunc(false)" id="no_select" tabindex="0"
          kendoRadioButton />
        NO</label>
    </div>
  </div>
  <ng-container *ngIf="isWFcustomer">
    <label class="row form-row top-pad-5">Tax ID </label>

    <div class="row form-row">
      <div role="group" aria-labelledby="aria-group-legend">
        <label for="ssn" class="row-20"><input type="radio" name="ssnOrein" [value]="isSSNorEIN" id="ssn"
            formControlName="ssnOrein" (change)="switchSSNtoEIN(true)" tabindex="0" kendoRadioButton /> SSN #</label>
        <label for="ein" class="row-20"><input type="radio" name="ssnOrein" [value]="!isSSNorEIN" id="ein"
            formControlName="ssnOrein" (change)="switchSSNtoEIN(false)" tabindex="0" kendoRadioButton /> EIN #</label>
      </div>
    </div>

    <div class="row" *ngIf="isSSNorEIN">
      <div class="col-5 no-pad">
        <div class="row form-row right-pad-15">
          <kendo-maskedtextbox #ssnInput [mask]="'AAA-AA-0000'" [maskOnFocus]="true" formControlName="ssn"
            class="input-holder-100w" onselect="return false" oncopy="return false" onpaste="return false"
            placeholder="Please enter SSN Number" tabindex="0" title="SSN Number" (click)="maskFocus(ssnInput)"
            (focus)="maskFocus(ssnInput)" (keydown)="disableArrow($event)" (keyup)="maskKeyUp($event, 'ssn')">
          </kendo-maskedtextbox>
          <span class="error-text" *ngIf="showInvalidSSNmessage"><span class="error-icon"> Please enter a valid
              SSN</span></span>
        </div>
      </div>

    </div>
    <div class="row" *ngIf="!isSSNorEIN">
      <div class="col-5 no-pad">
        <div class="row form-row right-pad-15">
          <kendo-maskedtextbox #tinInput [mask]="'AA-AAA0000'" [maskOnFocus]="true" formControlName="tin"
            class="input-holder-100w" onselect="return false" oncopy="return false" onpaste="return false"
            placeholder="Please enter EIN Number" tabindex="0" title="EIN Number" (focus)="maskFocus(tinInput)"
            (keydown)="disableArrow($event)" (click)="maskFocus(tinInput)" (keyup)="maskKeyUp($event, 'tin')">
          </kendo-maskedtextbox>
          <span class="error-text" *ngIf="showInvalidTINmessage"><span class="error-icon">Please enter a valid
              EIN</span></span>
        </div>
      </div>
    </div>


    <label for="contact_name" class="row form-row">Contact Name</label>
    <div class="row">
      <input placeholder="Merchant’s contact name" formControlName="name" class="input-txt-100w icon-contact"
        kendoTextBox id="contact_name" title="Contact Name" aria-required="true" tabindex="0"
        [ngClass]="{'has-danger': merchantProcessingForm.get('name').hasError('required') && merchantProcessingForm.get('name').touched }" />
    </div>
    <!-- <span *ngIf="merchantProcessingForm.get('name').errors.required">Contact name is required</span> -->
    <span class="error-text" *ngIf="merchantProcessingForm.get('name').errors
     && merchantProcessingForm.get('name').touched">
      <span *ngIf="merchantProcessingForm.get('name').hasError('required')">Contact name is required</span>
    </span>


    <div class="row">

      <div class="col-5 no-pad right-pad-15">
        <label for="business_num" class="row form-row">Business Phone Number</label>

        <div class="row"><input placeholder="Business Phone Number" formControlName="businessPhone"
            class="input-txt-100w icon-phone" kendoTextBox id="business_num" (keypress)="numberOnly($event)"
            maxlength="10" title="Business Phone Number" aria-required="true" tabindex="0" [ngClass]="{'has-danger': merchantProcessingForm.get('businessPhone').hasError('required') &&
             merchantProcessingForm.get('businessPhone').touched }" /></div>

        <span class="error-text" *ngIf="merchantProcessingForm.get('businessPhone').errors
        && merchantProcessingForm.get('businessPhone').touched
        || merchantProcessingForm.get('businessPhone').dirty">
          <span *ngIf="merchantProcessingForm.get('businessPhone').hasError('required')">Business Phone is
            required</span>
        </span>
      </div>

      <div class="col-5 no-pad">
        <label for="mobile_num" class="row form-row">Mobile Phone Number *</label>
        <div class="row">
          <div class="row"><input placeholder="Mobile Phone Number" formControlName="mobilePhone" tabindex="0"
              class="input-txt-100w icon-phone" kendoTextBox id="mobile_num" maxlength="10" title="Mobile Phone Number"
              (keypress)="numberOnly($event)" /></div>
        </div>
      </div>

    </div>

    <label for="email_address" class="row form-row">Email Address</label>
    <div class="row"><input placeholder="Merchant’s Email Address" formControlName="email"
        class="input-txt-100w icon-email" id="email_address" aria-required="true" tabindex="0" kendoTextBox
        title="Email Address" [ngClass]="{'has-danger': merchantProcessingForm.get('email').hasError('required') &&
    merchantProcessingForm.get('email').touched }" />
    </div>
    <span class="error-text" *ngIf="merchantProcessingForm.get('email').errors
    && merchantProcessingForm.get('email').touched">
      <span *ngIf="merchantProcessingForm.get('email').hasError('required')">Email is required</span>
      <span *ngIf="merchantProcessingForm.get('email').hasError('pattern')">Please provide a valid email address</span>
    </span>



    <label for="address" class="row form-row">Address</label>
    <div class="row"><input placeholder="Address, Street Number, Flat / Suite Number" formControlName="address"
        class="input-txt-100w icon-address" kendoTextBox id="address" aria-required="true" tabindex="0" title="Address"
        [ngClass]="{'has-danger': merchantProcessingForm.get('address').hasError('required') &&
    merchantProcessingForm.get('address').touched }" /></div>
    <span class="error-text" *ngIf="merchantProcessingForm.get('address').errors
        && merchantProcessingForm.get('address').touched
        || merchantProcessingForm.get('address').dirty">
      <span *ngIf="merchantProcessingForm.get('address').hasError('required')">Address is required</span>
    </span>



    <div class="row">
      <div class="col-3 col-33 no-pad">
        <label for="zip_code" class="row form-row">Zip Code</label>
        <div class="row">
          <!-- <kendo-maskedtextbox class="input-holder-92w" [mask]="ZipMask" [value]="zipVal"></kendo-maskedtextbox>-->
          <input placeholder="Zip Code" formControlName="zipcode" class="input-txt-92w icon-lock" id="zip_code"
            kendoTextBox maxlength="5" title="Zip Code" (keypress)="numberOnly($event)" aria-required="true"
            tabindex="0" [ngClass]="{'has-danger': merchantProcessingForm.get('zipcode').hasError('required') &&
                        merchantProcessingForm.get('zipcode').touched }" />
        </div>
        <span class="error-text" *ngIf="merchantProcessingForm.get('zipcode').errors
          && merchantProcessingForm.get('zipcode').touched
          || merchantProcessingForm.get('zipcode').dirty">
          <span *ngIf="merchantProcessingForm.get('zipcode').hasError('required')">Zipcode is required</span>
        </span>
      </div>

      <div class="col-3 col-33 no-pad">
        <label for="city_name" class="row form-row">City</label>
        <div class="row">
          <div class="row"><input placeholder="City Name" formControlName="city" class="input-txt-92w icon-lock"
              kendoTextBox id="city_name" title="City Name" aria-required="true" tabindex="0" [ngClass]="{'has-danger': merchantProcessingForm.get('city').hasError('required') &&
    merchantProcessingForm.get('city').touched }" /></div>
        </div>
        <span class="error-text" *ngIf="merchantProcessingForm.get('city').errors
        && merchantProcessingForm.get('city').touched
        || merchantProcessingForm.get('city').dirty">
          <span *ngIf="merchantProcessingForm.get('city').hasError('required')">City is required</span>
        </span>
      </div>

      <div class="col-3 col-33 no-pad">
        <label for="state_name" class="row form-row">State</label>
        <div class="row">
          <!-- <kendo-combobox placeholder="State"   *ngIf="state && !isWFcustomer" [data]="state"
            [value]="">
          </kendo-combobox> -->
          <input *ngIf="isWFcustomer" placeholder="State" class="input-txt-92w icon-lock" formControlName="state"
            kendoTextBox id="state_name" title="State" aria-required="true" tabindex="0" [ngClass]="{'has-danger': merchantProcessingForm.get('state').hasError('required') &&
            merchantProcessingForm.get('state').touched }" />
        </div>
        <span class="error-text" *ngIf="merchantProcessingForm.get('state').errors
        && merchantProcessingForm.get('state').touched
        || merchantProcessingForm.get('state').dirty">
          <span *ngIf="merchantProcessingForm.get('state').hasError('required')">State is required</span>
        </span>

      </div>
    </div>
    <div class="row"></div>

    <hr class="hr-line">
    <label for="dba_name" class="row form-row">DBA (Doing Business As) Name</label>
    <div class="row"><input class="input-txt-100w" placeholder="Please enter DBA Name" formControlName="dbaName"
        kendoTextBox id="dba_name" title="DBA Name" aria-required="true" tabindex="0" [ngClass]="{'has-danger': merchantProcessingForm.get('dbaName').hasError('required') &&
      merchantProcessingForm.get('dbaName').touched }" maxlength="24" /></div>
    <span class="error-text" *ngIf="merchantProcessingForm.get('dbaName').errors
      && merchantProcessingForm.get('dbaName').touched
      || merchantProcessingForm.get('dbaName').dirty">
      <span *ngIf="merchantProcessingForm.get('dbaName').hasError('required')">DBA name is required</span>
      <span *ngIf="merchantProcessingForm.get('dbaName').hasError('pattern')">
        <p class="error-icon">DBA name cannot contain special charachters (i.e ~ $ ^ % # ` \)</p>
      </span>
      <span *ngIf="false">
        <p class="error-icon">When MCC code is Supermarket, DBA name cannot be more than 19 charachters</p>
      </span>
    </span>
  </ng-container>
</form>

<div *ngIf="showLoader" class="k-i-loading"></div>

<kendo-dialog title='' [width]="'100%'" *ngIf="isShowTaxIDDialog" [minWidth]="520" [minHeight]="50" [width]="140"
  class="message-dialog-container">
  <div class="message-dialog">
    <span class="k-icon k-i-info" ng-reflect-klass="k-icon" ng-reflect-ng-class="k-i-info"></span>
    <p>{{notificationMsg}}</p>
    <button kendoButton (click)="closeDialogAction('ok')" class="btn-secondary">OK</button>
  </div>
</kendo-dialog>

<kendo-dialog title='' [width]="'100%'" *ngIf="showNonWellsFargoMsg" [minWidth]="520" [minHeight]="50" [width]="140"
  class="message-dialog-container">
  <div class="message-dialog">
    <span class="k-icon k-i-info" ng-reflect-klass="k-icon" ng-reflect-ng-class="k-i-info"></span>
    <p>Merchant needs to be a Wells Fargo customer to continue</p>
    <button kendoButton (click)="closeWarning()" class="btn-secondary">OK</button>
  </div>
</kendo-dialog>