<form>
    <label class="mainlable">Is this a current Wells Fargo Customer?</label>
    <div class="row form-row">
      <div role="group" aria-labelledby="aria-group-legend">
       <label class="row-20"><input type="radio" name="isWFcustomer" value="Yes" kendoRadioButton /> Yes</label>
        <label class="row-20"><input type="radio" name="isWFcustomer" value="No" kendoRadioButton /> No</label>
      </div>
     </div>
    <hr class="hr-line">
    <label class="row form-row">DBA Name</label>
    <div class="row"><input class="input-txt-100w" kendoTextBox /></div>
    <label class="row form-row">Contact #</label>
    <div class="row">
      <kendo-maskedtextbox class="input-holder-50w" [mask]="contactMask" [value]="contactVal"></kendo-maskedtextbox>
    </div>
    <label class="row form-row">Email Address</label>
    <div class="row"><input class="input-txt-100w" kendoTextBox /></div>
    <div class="row">
      <div class="col-5 no-pad">
        <label class="row form-row">Zip Code</label>
        <div class="row">
          <kendo-maskedtextbox class="input-holder-50w" [mask]="ZipMask" [value]="zipVal"></kendo-maskedtextbox>
        </div>
      </div>
      <div class="col-5 no-pad">
        <label class="row form-row">City</label>
        <div class="row">
          <div class="row"><input class="input-txt-100w" kendoTextBox /></div>
        </div>
      </div>
    </div>
    <div class="row"></div>
    <label class="row form-row">Address</label>
    <div class="row"><input class="input-txt-100w" kendoTextBox /></div>
    <label class="row form-row">State</label>
    <div class="row">
      <kendo-combobox *ngIf="state" [data]="state" [value]="">
      </kendo-combobox>
    </div>
  </form>