 <form>
    <label class="mainlable">Is this a current Wells Fargo Customer?</label>
    <div class="row form-row">
      <div role="group" aria-labelledby="aria-group-legend">
       <label class="row-20"><input type="radio" name="isWFcustomer" value="Yes" kendoRadioButton /> YES</label>
        <label class="row-20"><input type="radio" name="isWFcustomer" value="No" kendoRadioButton /> NO</label>
      </div>
     </div>
     <label class="row form-row">Enter Merchant Tax ID Number</label>
     <div class="row">
       <kendo-maskedtextbox class="input-holder-50w"></kendo-maskedtextbox>
     </div>
 
     <div class="row">
      <div class="col-5 no-pad">
        <label class="row form-row">Mobile Phone #</label>
        <div class="row">
          <div class="row"><input class="input-txt-92w" kendoTextBox /></div>  
        </div>
      </div>
      <div class="col-5 no-pad">
        <label class="row form-row">Business Phone #</label>
        <div class="row">
          <div class="row"><input class="input-txt-100w" kendoTextBox /></div>
        </div>
      </div>
    </div>
    <label class="row form-row">Email Address</label>
    <div class="row"><input class="input-txt-100w" kendoTextBox /></div>
    <div class="row">
      <div class="col-3 col-33 no-pad">
        <label class="row form-row">Zip Code</label>
        <div class="row">
         <!-- <kendo-maskedtextbox class="input-holder-92w" [mask]="ZipMask" [value]="zipVal"></kendo-maskedtextbox>-->
         <input class="input-txt-92w" kendoTextBox />
        </div>
      </div>
      <div class="col-3 col-33 no-pad">
        <label class="row form-row">City</label>
        <div class="row">
          <div class="row"><input class="input-txt-92w" kendoTextBox /></div>
        </div>
      </div>

      <div class="col-3 col-33 no-pad">
        <label class="row form-row">State</label>
        <div class="row">
         <!-- <kendo-combobox *ngIf="state" [data]="state" [value]="">
         </kendo-combobox>   
        -->
            <input class="input-txt-92w" kendoTextBox />
         
        </div>
      
      </div>
    </div>
    <div class="row"></div>
    <label class="row form-row">Address</label>
    <div class="row"><input class="input-txt-100w" kendoTextBox /></div>
    <hr class="hr-line">
    <label class="row form-row">DBA (Doing Business As) Name</label>
    <div class="row"><input class="input-txt-100w" kendoTextBox /></div>
  
   </form> 