<div class="container main-container">
    <div class="row header-row">
        <h2 class="row-heading">Create New Opportunity</h2>
        <div class="status-bar">Expeption Status : <span class="status-clear">Clear</span></div>
        <button type="button" *ngIf="currentStepperStep.name === 1" class="save-continue k-button k-primary"
            (click)="nextPrev(true)" [disabled]="!formValid">Next</button>
        <button type="button" *ngIf="currentStepperStep.name !== 1" class="save-continue k-button k-primary"
            (click)="nextPrev(true)" [disabled]="!formValid">Save & Continue</button>
        <button class="cancel" kendoButton [primary]="true">Cancel</button>
    </div>
    <div class="row main-container-holder">
        <div class="col-2-4 no-pad stepper-col">
            <app-opportunity-stepper #stepperComponent [currentStep]="currentStepperStep.name"
                (selectedStepEvent)="selectedStep($event)"></app-opportunity-stepper>
        </div>
        <div class="col-5 mar-left-1 form-col">
            <!-- <app-opportunity-form [currentStep]="currentStepperStep.name"></app-opportunity-form> -->
            <div class="form-container">
                <router-outlet name="form"></router-outlet>
            </div>
            <div class="row action-row">
                <div class="col-5">
                    <button type="button" *ngIf="currentStepperStep.name !== 1" class="k-button btn-previous"
                        (click)="nextPrev(false)">Previous</button>
                </div>
                <div class="col-5">
                    <button type="button" [disabled]="!formValid" *ngIf="currentStepperStep.name === 1"
                        class="save-continue k-button k-primary" (click)="nextPrev(true)">Next</button>
                    <button type="button" [disabled]="!formValid" *ngIf="currentStepperStep.name !== 1"
                        class="save-continue k-button k-primary" (click)="nextPrev(true)">Save & Continue</button>
                </div>
            </div>
           
           
        </div>
      
        <div class="col-2-4 mar-left-1 right-col">
            <app-opportunity-helper></app-opportunity-helper>
        </div>
    </div>
</div>
<div class="container main-container">
    <div class="col-2-4"></div>
    <div class="opt-field">
    <label for="footer"><footer>* Indicates an optional field</footer></label>
</div>
</div>