@import '../../common.scss';

.container {
    display: block;
    // width: $outlet-width;
    width: $container-width;
    height: calc(100% - 128px);
    background-color: $tab-content-background;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;

    .save-continue {
        float: right;
        margin-left: 10px;
        font-size: 16px;
        padding: 6px 16px;
        border-radius: 4px;
        width:170px;
    }

    .btn-previous {
        //margin-left: 10px;
        font-size: 16px;
        padding: 6px 16px;
        border-radius: 4px;
        width:170px;
        border:1px solid #3B3331;
        color: #3B3331;
        background: #ffffff;
    }

    .cancel {
        float: right;
        margin-left: 10px;
        background-color: $tab-content-background;
        border-color: $tab-content-background;
        color: #000000;
        background-image: none;
        text-decoration: underline;
        width: 100px;
        font-size: 16px;
        padding: 6px 16px;
        border-radius: 2px;
    }

    .main-container-holder {
        position: relative;
        height: calc(100% - 68px);
        overflow: hidden;

        .right-col{
            overflow: scroll;
        }
        .form-col {
            padding: 0;
            overflow: hidden;
            height: 100% !important;

            .form-container {
                padding: 15px;
                height: calc(100% - 96px);
                overflow: auto;
            }

            .row.action-row {
                height: 66px;
                overflow: hidden;
                border-top: 1px solid $border-color;
                box-sizing: border-box;
                background-color: $white-color;
            }
        }
    }

}

.opt-field {
    padding-left: 15px;
    padding-top: 6px;
    bottom:0;
    margin:0 auto;
    width:566px;
}


@media screen and (max-width: 1105px) {
    .container{
        width:98%;
    }
}

@media screen and (max-width: 1000px) {
    .main-container-holder{
        margin-top:41px;
    }
    .container .stepper-col{
        width:100%;
        height:auto !important;
    }
    .container .form-col{
        width: 67%;
    }

    .container .right-col{
        width:30%;
    }
    .container .stepper-col{
        background: #f3f3f3;
        height: 58px !important;
        left: 0;
        width: 100%;
        padding-top: 10px !important;
        display: flex;
        margin-top: -9px;
        padding-left: 10px !important;
        margin-left: 0;
        border-bottom: 1px solid #ccc; 
    }
    .opt-field {
        position: absolute;
    }
    
}


@media screen and (max-width: 767px) {
    .main-container-holder{
        margin-top:54px;
    }
    .container .form-col{
        width: 98%;
    }

    .container .right-col{
        width:100%;
    }
    .container .form-col .col-5{
        width: 100% !important;
    }
    .container .form-col .action-row .col-5{
        width: 50% !important;
        padding: 8px 19px;
    }

}

@media screen and (max-width: 420px) {
    .previous-txt{
        display: none;
    }
    .backarrow{
        display:block;
    }
    .btn-previous{
        font-size: 20px;
        padding: 0;
        border-radius: 20px !important;
        width: 34px !important;
        border: 1px solid #3B3331;
        color: #3B3331;
        background: #ffffff;
        line-height: 1.1;
        height: 34px;
        font-weight: bold;
        padding-bottom: 6px;
    }

}