@import '../../common.scss';

.container {
    display: block;
    // width: $outlet-width;
    width: $container-width;
    height: calc(100% - 128px);
    background-color: $tab-content-background;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;

    .save-continue {
        float: right;
        margin-left: 10px;
        font-size: 16px;
        padding: 6px 16px;
        border-radius: 4px;
        width:170px;
    }

    .btn-previous {
        //margin-left: 10px;
        font-size: 16px;
        padding: 6px 16px;
        border-radius: 4px;
        width:170px;
        border:1px solid #3B3331;
        color: #3B3331;
        background: #ffffff;
    }

    .cancel {
        float: right;
        margin-left: 10px;
        background-color: $tab-content-background;
        border-color: $tab-content-background;
        color: #000000;
        background-image: none;
        text-decoration: underline;
        width: 100px;
        font-size: 16px;
        padding: 6px 16px;
        border-radius: 2px;
    }

    .main-container-holder {
        position: relative;
        height: calc(100% - 68px);
        overflow: hidden;

        .right-col{
            overflow: scroll;
        }
        .form-col {
            padding: 0;
            overflow: hidden;
            height: 100% !important;

            .form-container {
                padding: 15px;
                height: calc(100% - 96px);
                overflow: auto;
            }

            .row.action-row {
                height: 66px;
                overflow: hidden;
                border-top: 1px solid $border-color;
                box-sizing: border-box;
                background-color: $white-color;
            }
        }
    }

}


@media screen and (max-width: 1105px) {
    .container{
        width:98%;
    }
}

@media screen and (max-width: 972px) {
    .container .form-col{
        width: 67%;
    }

    .container .right-col{
        width:30%;
    }

    .container .stepper-col{
        width:97%;
        height:auto !important;
        margin-left:11px;
    }
}

@media screen and (max-width: 767px) {
    .container .form-col{
        width: 98%;
    }

    .container .right-col{
        width:100%;
    }

    .container .stepper-col{
        width:100%;
        height:auto !important;
    }
    .container .form-col .col-5{
        width: 100% !important;
    }

}