<form>
  <label>Is this a current Wells Fargo Customer</label>
  <div class="row form-row">
    <input type="radio" name="isWFcustomer" value="Yes" kendoRadioButton /> Yes
    <input type="radio" name="isWFcustomer" value="No" kendoRadioButton /> No
  </div>
  <label class="row form-row">DBA Name</label>
  <div class="row"><input class="input-txt" kendoTextBox /></div>
  <label class="row form-row">Contact #</label>
  <div class="row">
    <kendo-maskedtextbox class="input-txt" [mask]="contactMask" [value]="contactVal"></kendo-maskedtextbox>
  </div>
  <label class="row form-row">Email Address</label>
  <div class="row"><input class="input-txt" kendoTextBox /></div>
  <div class="row row-93">
    <div class="col-3 no-pad">
      <label class="row form-row">Zip Code</label>
      <div class="row">
        <kendo-maskedtextbox class="input-txt" [mask]="ZipMask" [value]="zipVal"></kendo-maskedtextbox>
      </div>
    </div>
    <div class="col-7 no-pad">
      <label class="row form-row">City</label>
      <div class="row">
        <div class="row"><input class="input-txt" kendoTextBox /></div>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <label class="row form-row">Address</label>
  <div class="row"><input class="input-txt" kendoTextBox /></div>
  <label class="row form-row">State</label>
  <div class="row"><kendo-combobox *ngIf="state" [data]="state" [value]="">
  </kendo-combobox></div>
</form>