@import '../../../common.scss';

.ico-mcc-merchant {
    cursor: pointer;
    padding-left:15px;
}

.error-text .checkbox-message{
    position: absolute;
    z-index: 2;
    margin-top:6px;
}

.error-text .checkbox-message::before{
    content: "";
    display: block;
    width: 23px;
    height: 22px;
    position: absolute;
    background: $pink-color;
    border: 0;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    margin-top: -21px;
    margin-left: 0;
    left:6%;
}
