@import '../../common.scss';

.container{
    display: block;
    width: $outlet-width;
    height: 100%;
    background-color: $tab-content-background;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;

    .save-continue{
        float: right;
        margin-left: 10px;
    }

    .cancel{
        float: right;
        margin-left: 10px;
        background-color: $tab-content-background;
        border-color: $tab-content-background;
        color: #000000;
        background-image: none;
        text-decoration: underline;
        width: 100px;
    }
}