@import './common.scss';

/* You can add global styles to this file, and also import other style files */
html, body {
    display: block;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $tab-content-background;
    overflow-y: auto;
}