<div class="row">
    <div class="row">
        <div class="row"><strong>Select Transaction Source Type</strong></div>
        <div class="row row-margin">
            <div class="row-40 col-300" *ngFor="let c of sourceType; let i = index">
                <label><input #chck type="checkbox" (click)="selectedSourceType(c.code, chck.checked)"
                        [checked]="c.checked" kendoCheckBox tabindex="0" />
                    {{c.name}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row row-margin">
            <div kendoTooltip tooltipWidth="520" class="bottom tooltip" showOn="none" position="bottom">
                <!-- <input kendoTextBox type="search" class="input-txt" [class.input-error-border]="inputSrcBox"
                    [(ngModel)]="srcString" (keydown.enter)="mccSrc($event, tooltipTemp)"
                    placeholder="Search in all columns" (focusout)="hideToolTipFunc()" (search)="clearSearchText()"
                    autofocus tabindex="0" /> -->
                <input kendoTextBox #item type="search" class="input-txt" id="search" 
                        [class.input-error-border]="inputSrcBox" 
                        [(ngModel)]="srcString"
                        (keydown.enter)="mccSrc($event, tooltipTemp)" 
                        [disabled]="selectedSourceTypeArray.length === 0"
                        placeholder="Search in all columns"
                        (search)="clearSearchText()"
                        (focusout)="hideToolTipFunc()"
                        (ngModelChange)="valuechange()"
                        autofocus
                        tabindex="0" />
                <div class="tooltip" #tooltipTemp title="Please enter atleast 3 Characters or MCC Code"></div>
            </div>
        </div>
        <div class="row tooltiprow-margin" *ngIf="!querySearched && mccData.length == 0"><strong>Note</strong>: Please
            select
            Transaction Source
            Type and enter minimum
            3 characters to get the
            result.
        </div>
    </div>
</div>
<label *ngIf="mccData.length > 0" class="pt-4"><strong>Search Result:</strong></label>
<label *ngIf="querySearched && mccData.length == 0" class="pt-4">No records found</label>
<div class="row form-row" *ngIf="mccData.length > 0">
    <kendo-grid #grid [selectable]="true" [pageSize]="pageSize" [pageable]="showPagination" [skip]="skip" [data]="gridView"
        [kendoGridBinding]="mccData" [height]="382" [navigable]="true" (sortChange)="sortChange($event)"
         (cellClick)="onCellClick($event)" kendoGridSelectBy="mccCode"
        [selectedKeys]="mySelection" [sortable]="{
                    allowUnsort: allowUnsort,
                    mode: multiple ? 'multiple' : 'single'
                    }" tabindex="0">
                    <!-- (pageChange)="pageChange($event)"  -->
                    <!-- (selectionChange)="selectionChanged($event)" -->
        <kendo-grid-column title="" [width]="40">
            <ng-template kendoGridCellTemplate let-dataItem let-colIndex="colIndex" let-rowIndex="rowIndex">
                <input type="radio" class="rowRadio" (click)="selectRow(dataItem, rowIndex, colIndex)"
                     kendoRadioButton
                    [checked]="selectedRowIndex === rowIndex" id="radioClick"
                    (keyup.enter)="selectRow(dataItem, rowIndex, colIndex)"
                    kendoGridFocusable />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="mccCode" title="MCC" [width]="85"></kendo-grid-column>
        <kendo-grid-column title="Title">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="flt-left">{{dataItem.mccName}}</div>

                <div class="flt-right" id="title_{{rowIndex}}"><a class="more-less"
                        (click)="expandCollapseRow(dataItem, rowIndex)" 
                        (keyup.enter)="expandCollapseRow(dataItem, rowIndex)"
                       kendoGridFocusable  ><span>More</span>&nbsp;&darr;</a></div>
            </ng-template>
        </kendo-grid-column>
        <ng-template kendoGridDetailTemplate let-dataItem>
            <table width="100%" class="table-grid-detail">
                <tbody>
                    <tr>
                        <td width="98" class="td-vtop"><span class="font-weight-bold">MCC Description</span></td>
                        <td width="82%">{{dataItem.mccDescription}}</td>
                    </tr>
                    <tr>
                        <td width="98" class="td-vtop"><span class="font-weight-bold">Included in this MCC</span></td>
                        <td width="82%">{{dataItem.keywords}}</td>
                    </tr>
                    <tr>
                        <td class="td-vtop"><span class="font-weight-bold">Similar Merchants</span></td>
                        <td class="similar-merchant-table">
                            <table class="" width="100%">
                                <tbody>
                                    <tr *ngFor="let merchant of dataItem.similarMerchants">
                                        <td width="60">{{merchant.mccCode}}</td>
                                        <td width="80%">{{merchant.mccDescription}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
        <ng-template kendoGridNoRecordsTemplate>
            No Records
        </ng-template>
        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <div class="row-20">
                <kendo-pager-info></kendo-pager-info>
            </div>
            <div class="row-70">
                <kendo-pager-prev-buttons class="prev-btn"></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons class="num-btn" [buttonCount]="2"></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons class="next-btn"></kendo-pager-next-buttons>
            </div>
            <div class="row-10">               
            </div>
        </ng-template>
    </kendo-grid>
     <button class="btn btn-primary flt-right grid-btn" id="btnOk" name="btnOk"
        [disabled]="selectedRowIndex === null" (click)="okButton()"
        (keyup.enter)="okButton()" (keyup.space)="okButton()"
        tabindex="0">Ok</button>
    <ng-template #notificationTemplate></ng-template>
</div>